<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <div class="brand-logo">
                        @* <img style="width: 100px" src="~/images/logo_small_white.png" /> *@
                        <h3 class="text-light">Panel Admina</h3>
                    </div>
                </a>
            </li>
            @* <li class="nav-item nav-toggle"> *@
            @*     <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"> *@
            @*         <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i> *@
            @*     </a> *@
            @* </li> *@
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


            <li class=" nav-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home"></i><span class="menu-title">Pulpit</span>
                </a>
            </li>

            <li class=" navigation-header">
                <span>Dane</span>
            </li>

            <li class=" nav-item">
                <a href="@Url.Action("ViewSensorList", "Sensors")">
                    <i class="fa fa-tags"></i><span class="menu-title">Sensory</span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="@Url.Action("ViewReportList", "Report")">
                    <i class="fa fa-file-text"></i><span class="menu-title">Zgłoszenia</span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="@Url.Action("ViewWaterFacilityList", "WaterFacilities")">
                    <i class="fa fa-object-group"></i><span class="menu-title">Obiekty wodne</span>
                </a>
            </li>

            <li class=" navigation-header">
                <span>Zarządzanie</span>
            </li>

            <li class=" nav-item">
                <a href="@Url.Action("ViewCityList", "Cities")">
                    <i class="fa fa-building"></i><span class="menu-title">Miasta</span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="@Url.Action("ViewUserList", "Users")">
                    <i class="fa fa-users"></i><span class="menu-title">Użytkownicy</span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="@Url.Action("ViewServerLogs", "ServerLogs")">
                    <i class="fa fa-cogs"></i><span class="menu-title">Logi serwera</span>
                </a>
            </li>
            @* <li class=" nav-item"> *@
            @*     <a href="@Url.Action("ViewLogs", "A_Logs")"> *@
            @*         <i class="fa fa-cogs"></i><span class="menu-title">Logi (stare)</span> *@
            @*     </a> *@
            @* </li> *@

        </ul>
    </div>
</div>
<!-- END: Main Menu-->